
<header>
  <div id="navbar">
      <img src="assets/img/logo.png" alt="Food Lover Logo">
      <nav role="navigation">

          <ul>
              <li><a routerLink="/gerer">Foods</a></li>
              <li><a routerLink="/contacts">Contact</a></li>
              <li class="menu-container">
                <a class="msg">{{message}}</a>
                <div class="menu">
                    <a (click)="logout()">LogOut</a>
                </div>
            </li>

          </ul>
      </nav>
  </div>
</header>

