
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2{
  color: rgb(123, 12, 12);
  margin-right: 100px;
}
ul{
  display: flex;
  list-style-type: none;
}
ul a{
  padding: 1rem;
  display: inline-block;
}
li a{
  color: rgb(215, 215, 215);
}
a span{
  background: red;
  color: rgb(122, 2, 2);
  padding:0.1rem 0.45rem ;
  border-radius: 100rem;
  font-size: 0.9rem;
}
.menu-container{
  position: relative;
  padding-right: 70px;
}
.menu{
  position: absolute;
  z-index: 1;
  background: rgb(229, 222, 222);
  display: none;
}
.menu-container:hover .menu{
   display:block;
}
.menu a {
  width: 100%;
  min-width: 10rem;
  font-weight: bold;
  color: #000000;
}
body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  padding-top: 20px;
}


/* Utility Classes */
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #fff;
}

.btn-secondary,
.btn-third:hover {
  background: #383848;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
  background: #e4b95b;
}

.primary-text {
  color: #e4b95b;
}

/* Header Start */
header {
 background-color: #000000;
}

header {
  background-color: #000000;
  height: 90px;
 }

 #navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
 }

 #navbar img {
   width: 300px;
   height: 200px;
   margin-top: 40px;

 }

 nav ul {
   display: flex;
   margin-right: 100px;
 }

nav ul li a {
  padding: 15px 20px;
  font-weight: bold;
}

nav ul li a:hover {
  border-bottom: 2px solid #beb7a6;
}







header * {
  z-index: 10;
}


.rech{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;

}

input{
  border-radius: 10rem 10rem 10rem 10rem;
  border:none;
  height: 3rem;
  width: 20rem;
  background-color: rgb(208, 202, 195);
  padding: 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  padding-right: 30px;
}


.add{
  margin-left: 85%;
  margin-top: 1%;
  border-radius: 10rem 10rem 10rem 10rem;
  border:none;

  background-color: rgb(177, 170, 159);
  padding: 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}
.container {
  margin-left: 150px;
}
h4{
  margin-left: 150px;

}
