/* Footer Start */
#footer {
  background-color: #383848;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
}
/* Footer End */
.success-snackbar {
  background-color: #4caf50; /* couleur verte */
  color: white;
}
