<app-header></app-header>
<section id="about">
  <div class="container">
      <div class="title">
          <h2>L'histoire de Foody</h2>
          <p>Plus de 10+ années d'expérience</p>
      </div>
      <div class="about-content">
          <div>
              <p>Bienvenue à Foody, votre destination culinaire exclusive à Gammarth. Notre histoire est façonnée par
                la passion pour les saveurs exquises et l'art de la gastronomie. Chaque plat raconte une histoire de
                créativité, de fraîcheur et d'authenticité.</p>
              <p>Découvrez des créations uniques préparées par nos chefs talentueux qui mettent en valeur les meilleurs
                ingrédients de la région.Chez Foody, chaque bouchée est une aventure, chaque
                 repas est une célébration. Rejoignez-nous et découvrez l'essence même de la gastronomie à Gammarth.</p>
              <a href="#" class="btn btn-secondary">EN SAVOIR PLUS</a>
          </div>
          <img src="assets/img/about_img.png" alt="Pizza">
      </div>
  </div>
</section>
  <!-- Gallery Section Start -->
  <section id="gallery">
    <div class="container">
        <h2>Notre Maitre Gourmet de Foody</h2>
        <h2>Gnouma Maram</h2>
        <div class="img-gallery">
            <img src="assets/img/maram.jpg" alt="gallery1">

        </div>
    </div>
</section>
<!-- Gallary Section End -->
<app-footer></app-footer>
