
/* About Start */
#about {
  height: 80vh;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .title,
#offers .title,
#menu .title {
  text-align: center;
  margin-bottom: 4rem;
}

#about h2,
#offers h2,
#menu h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#about h2 {
  color: #383848;
}

#about .title p {
  font-weight: 600;
  font-size: 14px;
  color: #9a9a9a;
}

#about .about-content {
  display: flex;
  justify-content: space-between;
}

#about .about-content p {
  margin-right: 7rem;
  line-height: 1.6;
  color: #9a9a9a;
  font-weight: 500;
}

#about img {
  max-width: 450px;
}

#about .about-content a {
  margin-top: 2rem;
}
/* About End */
/* Gallery section start */
#gallery {
  background: url("/assets/img/offer-background.jpg") center center/cover;

  padding: 8rem 0 6rem;
}
#gallery h2 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

#gallery .img-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#gallery .img-gallery img {
  margin: 20px;
  width: 280px;
  height: 300px;
  border-radius: 15px;
}

#gallery .img-gallery img:hover {
  opacity: 1;
}
/* Gallery section end */
