
<header >
  <div id="navbar" >
      <img src="assets/img/logo.png" alt="Food Lover Logo">
      <nav role="navigation">
          <ul>
            <li><a routerLink="/home">Accueil </a></li>
            <li><a routerLink="/menu">Menu</a></li>
              <li><a routerLink="/propos">A propos</a></li>

          </ul>
      </nav>
  </div>
  <div class="content">
      <h1>Bienvenue au  <span class="primary-text"> Foody </span> restaurant</h1>
      <p>Vous découvrirez ici les mets les plus délicieux du monde</p>
      <a href="#" class="btn btn-gradient" id="explore-btn" routerLink="/menu">Explorez-nous !</a>
    </div>
</header>
 <!--
        - #SERVICE
      -->
<div class="test">
  <section class="section service bg-black-10 text-center" aria-label="service">
    <div class="container">

      <p class="section-subtitle label-2 test2">Saveurs pour la royauté</p>

      <h2 class="headline-1 section-title test2">Nous offrons du haut de gamme</h2>

      <p class="section-text test2">
        Découvrez des créations uniques préparées par nos chefs talentueux qui mettent en valeur les meilleurs
        ingrédients de la région.Chez Foody, chaque bouchée est une aventure.
      </p>

      <ul class="grid-list">

        <li>
          <div class="service-card">

            <a href="#" class="has-before hover:shine">
              <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                <img src="/assets/images/service-1.jpg" width="285" height="336" loading="lazy" alt="Breakfast"
                  class="img-cover">
              </figure>
            </a>

            <div class="card-content">

              <h3 class="title-4 card-title">
                <a href="#">Petit-déjeuner</a>
              </h3>



            </div>

          </div>
        </li>

        <li>
          <div class="service-card">

            <a href="#" class="has-before hover:shine">
              <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                <img src="/assets/images/service-2.jpg" width="285" height="336" loading="lazy" alt="Appetizers"
                  class="img-cover">
              </figure>
            </a>

            <div class="card-content">

              <h3 class="title-4 card-title">
                <a href="#">Apéritifs</a>
              </h3>



            </div>

          </div>
        </li>

        <li>
          <div class="service-card">

            <a href="#" class="has-before hover:shine">
              <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                <img src="/assets/images/service-3.jpg" width="285" height="336" loading="lazy" alt="Drinks"
                  class="img-cover">
              </figure>
            </a>

            <div class="card-content">

              <h3 class="title-4 card-title">
                <a href="#">Boissons</a>
              </h3>



            </div>

          </div>
        </li>

      </ul>

      <img src="/assets/images/shape-1.png" width="246" height="412" loading="lazy" alt="shape"
        class="shape shape-1 move-anim">
      <img src="/assets/images/shape-2.png" width="343" height="345" loading="lazy" alt="shape"
        class="shape shape-2 move-anim">

    </div>
    </section>
</div>



<section id="about">
  <div class="container">
      <div class="title">
          <h2>L'histoire de Foody</h2>
          <p>Plus de 10+ années d'expérience</p>
      </div>
      <div class="about-content">
          <div>
              <p>Bienvenue à Foody, votre destination culinaire exclusive à Gammarth. Notre histoire est façonnée par
                la passion pour les saveurs exquises et l'art de la gastronomie. Chaque plat raconte une histoire de
                créativité, de fraîcheur et d'authenticité.</p>
              <p>Découvrez des créations uniques préparées par nos chefs talentueux qui mettent en valeur les meilleurs
                ingrédients de la région.Chez Foody, chaque bouchée est une aventure, chaque
                 repas est une célébration. Rejoignez-nous et découvrez l'essence même de la gastronomie à Gammarth.</p>
              <a href="#" class="btn btn-secondary" routerLink="/propos">EN SAVOIR PLUS</a>
          </div>
          <img src="assets/img/about_img.png" alt="Pizza">
      </div>
  </div>
</section>
<section id="menu">
  <div class="container">
      <div class="title">
          <h2>Notre Menu Spécial</h2>
          <p>Savourez, commandez, adorez !</p>
      </div>
      <div class="menu-items">
          <!-- Utilisez la directive *ngFor avec la fonction slice pour limiter le nombre d'éléments à afficher -->
          <div class="menu-items-left" *ngFor="let foodItem of foods.slice(0, 2)">
              <div class="menu-item">
                  <img [src]="foodItem.image" [alt]="foodItem.name" (click)="getId(foodItem._id)">
                  <div>
                      <h3>{{foodItem.name}} <span class="primary-text">{{ foodItem.price }} TND</span></h3>
                      <p>Plongez dans une expérience culinaire rafraîchissante avec notre plat.</p>
                  </div>
              </div>
          </div>
      </div>
      <button class="btn btn-third"><a routerLink="/menu">Découvrez l'ensemble des délices</a></button>
  </div>
</section>

<!-- Daytime section start-->
<section id="daytime">
  <div class="container">
      <div class="daytime-items">
          <div class="daytime-item">
              <img src="assets/img/breckfastIcon.png" alt="Breakfast">
              <h3>Petit-déjeuner</h3>
              <p>9:00 am à 11:00 am</p>
          </div>
          <div class="daytime-item">
              <img src="assets/img/lunchIcon.png" alt="Lunch">
              <h3>Déjeuner</h3>
              <p>12:00 pm to 16:00 pm</p>
          </div>
          <div class="daytime-item">
              <img src="assets/img/dinnerIcon.png" alt="Dinner">
              <h3>Dîner</h3>
              <p>18:00 pm to 00:00 Am</p>
          </div>
          <div class="daytime-item">
              <img src="assets/img/dessertIcon.png" alt="dessert">
              <h3>Dessert</h3>
              <p>Toute la journée</p>
          </div>
      </div>
  </div>
</section>
<!-- Daytime section end-->
<!-- Contact Section Start -->
<section id="contact">
  <div class="container">
      <div class="contact-content">
          <div class="contact-info">
              <div>
                  <h3>ADDRESSE</h3>
                  <p><i class="fa fa-map-marker"></i>Zone Touristique Gammarth Gammarth, Tunis</p>
                  <p><i class="fa fa-phone"></i> Téléphone: 21 000 555</p>
                  <p><i class="far fa-envelope"></i> foody.com</p>

              </div>
              <div>
                  <h3>HEURES D'OUVERTURE</h3>
                  <p>9:00 am à 00:00 pm du Lundi à Vendredi</p>
                  <p>9:00 am to 1:00 Am les weekends</p>
              </div>
              <div>
                  <h3>SUIVEZ-NOUS</h3>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </div>
          </div>
          <!-- home.component.html -->
<form [formGroup]="contactForm" (ngSubmit)="ajouterContact()">
  <!-- Vos champs de formulaire ici -->
  <input type="text" formControlName="name" placeholder="Nom Complet">
  <input type="email" formControlName="email" placeholder="Adresse e-mail">
  <input type="text" formControlName="subject" placeholder="Sujet">
  <textarea formControlName="message" cols="30" rows="5" placeholder="Message"></textarea>
  <button type="submit" class="btn btn-third">ENVOYER</button>
</form>

      </div>
  </div>
</section>
<!-- Contact Section End -->
<app-footer></app-footer>
