
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}


/* Utility Classes */
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #fff;
}

.btn-secondary,
.btn-third:hover {
  background: #383848;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
  background: #e4b95b;
}

.primary-text {
  color: #e4b95b;
}

/* Header Start */
header {
 background-color: #000000;
 height: 90px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#navbar img {
  width: 300px;
  height: 200px;
  margin-top: 40px;

}

nav ul {
  display: flex;
  margin-right: 100px;
}

nav ul li a {
  padding: 15px 20px;
  font-weight: 600;
}

nav ul li a:hover {
  border-bottom: 2px solid #e4b95b;
}






header * {
  z-index: 10;
}


