<app-header></app-header>
<section>
  <div class="contains">
      <div class="title">
          <h2>Le Menu Spécial de Foody</h2>

      </div>
      </div>
      </section>
      <div class="rech">
        <input #searchInput type="text" placeholder="Rechercher" (input)="search(searchInput.value)" [(ngModel)]="searchText" />
      </div>
      <div>
        <div class="product-item-footer1">
          <div class="origins1">
            <span (click)="loadFoods()" >
              Tous
           </span>
           <span (click)="getFoodsBySpecificType('Petit-déjeuner')">
            Petit-déjeuner
           </span>

           <span (click)="getFoodsBySpecificType('Déjeuner')">
              Déjeuner
           </span>
           <span (click)="getFoodsBySpecificType('Dîner')">
              Dîner
           </span>

           <span (click)="getFoodsBySpecificType('Dessert')">
            Dessert
           </span>

          </div>
      </div>

<ul class="list-unstyled">
  <li *ngFor="let foodItem of foods" class="d-flex align-items-center">
    <a>
      <img [src]="foodItem.image" [alt]="foodItem.name" (click)="getId(foodItem._id)" />

      <div class="content">
        <div class="name">
            {{foodItem.name}}
        </div>
        <span class="favorite {{foodItem.favorite?'':'not'}}">
          ❤
        </span>

        <div class="stars" [appStarRating]="foodItem.stars"></div>

        <div class="product-item-footer">
          <div class="origins">
            <span >
              {{foodItem.origins}}
            </span>
          </div>

          <div class="cook-time">
            <span>🕒</span>
            {{foodItem.cookTime}}
          </div>
        </div>
        <div class="price">
            {{ foodItem.price }}

         </div>
        </div>

    </a>
  </li>
</ul>
<app-footer></app-footer>
